/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0077ff;
}

/* SECTIONS */
.section {
    padding: 80px 60px;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, #eaf2ff, #ffffff);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h3 {
    font-weight: normal;
    margin-bottom: 20px;
    color: #555;
}

.hero p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

/* SKILLS */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skills-list span {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    font-size: 14px;
}

/* PROJECTS */
.project-card {
    
    background-color: #ffffff;
    padding: 25px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 10px;
}

.project-card a {
    text-decoration: none;
    color: #0077ff;
    font-weight: bold;
}

/* ABOUT */
#about p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

/* CONTACT */
#contact p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

#contact a {
    color: #0077ff;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .section {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 32px;
    }
}
